<H1>Shows Found</H1>
<H2>{{query}}</H2>
    <a href='/'>Make another search</a>
            <h2>Username: {{user.username}}</h2>
            <h3>id: {{user._id}}</h3>
            <h3>First Name: {{user.firstName}}</h3>
            <h3>Last Name: {{user.lastName}}</h3>
            <h3>Profession: {{user.profession}}</h3>
            <p>Bio: {{user.bio}}</p>
            

<a href="/logout">Click to Logout</a>